##################################################################################
# Cloudify Docker built in types and plugins definitions.
##################################################################################

plugins:
    docker_plugin:
        executor: host_agent
        source: https://github.com/cloudify-cosmo/cloudify-docker-plugin/archive/{{ plugin_branch }}.zip
